*{
    margin: 0;
    box-sizing: border-box;
     
}
/* header section */
.header-contaier{
width: 100vw;
height: 600px;
background-image: url(./heroooooo.png);
background-repeat: no-repeat;
background-size: cover;
}
.header-top{
    display: flex;
    width: 100vw;
    justify-content: space-around;
    gap: 723px;
    height:50px;
    align-items: center;
    background-color: rgba(1, 17, 23,85%);
    width: 1309px;
}
#header-logo{
    width: 164px;
    margin-top: 20px;
 
}
.header-top-left{
    display: flex;
    justify-content: space-around;
    color: #ffff;
    margin-left: -38px;
}
.header-top-right{
    display: flex;
    justify-content: flex-end;
    color: #ffff;
    margin-right: -16px;
}
.header-bottom{
    display: flex;
    justify-content: space-around;
    gap: 90px;
    height: 629px;
    width: 1309px;
  
    

    
}

.header-bottom-center{
    display: flex;
    align-items: space-around;
    justify-content:flex-start;
     gap: 40px;
     color: #ffff;
     margin-top: 30px;
    
}
#header-bottom-left-button{
    background-color: #EB455F;
    color: #000;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 149px;
    margin-top: 20px;

}

/*hero start*/
.hero-contaier{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    line-height: 28px;
    margin-top: -450px;
}
.hero-title{
    color: #fff;
    font-size: 50px;
}
/* .hero-title-span{
    color: #FB5B21;
} */
.hero-content{
    color: #fff;
    margin-top: 51px;
    font-size: 32px;
    text-align: center;
    line-height: 45px;
}
.hero-btn{
    border:2px solid #EB455F;
    background-color: #EB455F;
    color: #fff;
    padding: 8px;
    border-radius: 10px;
    width:150px;
    height: 50px;
    letter-spacing: 1.2px;
   margin-top: 30px;
}

/*Feature section start*/
.feture-contaier{
    height: 400px;
    line-height: 25px;
    margin-top: 20px;
    text-align: center;
}
.feature-title{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color:#2B3467;
    font-weight: bold;
}
.feature-content{
    display: flex;
    justify-content: space-between;
}
.feature-content-cards-1{
   
   border: 3px solid #2B3467;
   border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 280px;
     width: 280px;
}

#feat1{
    margin-top: 40px;
    width: 150px;
    height: 115px;
   

}
.feature-content-cards-2{
   border: 3px solid #2B3467;
   border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 280px;
    width: 290px;
}


#feat2{
    margin-top: 40px;
    width: 150px;
    height: 115px;
    

}
.feature-content-cards-3{
   border: 3px solid #2B3467;
   border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 280px;
    width: 290px;
}


#feat3{
    
    width: 150px;
    height: 115px;
    margin-top: 40px;
}
.feature-content-cards-4{
   border: 3px solid #2B3467;
   border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 280px;
    width: 290px;
    margin-top: 3px;
}


#feat4{
    
    width: 150px;
    height: 115px;
    margin-top: 40px;

}
.feature-content-cards-5{
   border: 3px solid #2B3467;
   border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 280px;
    width: 290px;
    text-size-adjust: 20px;
}


#feat5{
    
    width: 150px;
    height: 115px;
    margin-top: 40px;
   
}
.top-cards{
    display: flex;
    flex-direction: row;
    gap: 170px;
    justify-content: space-between;
    margin-left: 50px;
    margin-top: 50px;
}
.buttom-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 100px;
    margin-top: 60px;  
}
.feat-para{
    text-align: center;
    font-size: 20px;
    margin-top: 25px;
    font-weight: bold;
    
}
  /*work section start*/
  .works-contaier{
    height:500px;
    background-color: rgba(186, 215, 233, 30%);
    margin-top:385px;
    text-align: center;
    width: 1309px;
}
.works-content{
    display: flex;
}
.works-title{
    text-align: center;
    margin-bottom: 50px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    text-shadow:black;
    
    padding-top: 50px;
}
 .bot {
        height: 200px;
        width: 201px;
        background-color: #fff;
        border-radius: 50%;
       display: inline-block;
       margin-left: 100px;
      }

.dot {
    display: inline-block;
        height: 110px;
        width: 200px;
        border-radius: 150px 150px 0 0;
        background-color: #fff;  
  }
  .hot{
    height: 130px;
        width: 130px;
        background-color: #fff;
        border-radius: 50%;
       display: inline-block;
       margin-top: 40px;
  }
  #c1{
    background-color: rgba(20, 108, 148, 85%);
  }
  #c3{
    background-color: rgba(20, 108, 148, 85%);
  }
  #c2{
    background-color: #AFD3E2;
  }
  #c4{
    background-color: #AFD3E2;
  }
.userphoto{ 
    border-radius: 50%;
    width: 80px;
    height: 80px;
  }
.work-para{
margin-top: 70px;
}

.icon{
    font-size: 84px;
    padding-top: 58px;
}

/* user say section */
#users-span{
    color: #9F9F9F;
}
.users-contaier{
    height: 400px;
    line-height: 70px;
}
.users-title{
    text-align: center;
    padding-top: 225px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-size: 30px;
}
.users-content{
    display: flex;
    justify-content: center;
    gap: 15px;

    
}
.users-content-cards{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left ;
    margin-top: 40px;
    width: 400px;
    height: 250px;
    border-radius: 10px;
    border: 3px solid #0842A9;
    padding: 20px;
}


.users-contaier-card-top-left img{
    width: 100px;
    height: 100px;
}

.users-content-cards p {
    text-align: left;
    line-height: 22px;
}

.users-contaier-card-top{
    display: flex;
    gap: 20px;
}

#user1{
    border-radius: 50%;
}
#user2{
    border-radius: 50%;
}
#user3{
    border-radius: 50%;
}
.stars{
    display: flex;
}

/*Get started section */
.getstarted-container{
    background-color: #EBF2FF;
    width: 100%;
    height: 500px;
    margin-top: 260px;
    
}

.getstarted-content{
    display: flex;
    justify-content: flex-start;
}


.getstarted-left{
  
  color: #000000;
  font-size: 70px; 
}

.getstarted-btn{
    background: #EB455F;
    color: #fff;
    border-radius: 12px;
    width:250px;
    height: 60px;
   margin-top: 40px;
  font-size: 20px;
 text-align: center;
 border: none;
}

.getstarted-right{
  
    margin-top: 80px;
   
}
.getstarted-title{
    font-size: 45px;
    margin-left: 30px;
    line-height: 50px;
    font-weight: bold;
    color: #070D59;
}
.getstarted-content{
    font-size: 33px;
    margin-left:43px ;
    margin-top: 45px;
    color: #070D59;
}
#office{
    width: 540px;
    height: 380px;
    margin-left: 30px;
    margin-top: 50px;
}

/*footer section */
.footer-container{
    display: flex;
    justify-content: space-around;
    background-color: #0842A9;
    height: 400px;
    color: #ffffff;
    line-height: 60px;
    position: relative;
    
 
   

}

.footer-cul1{
    padding-left: 80px;
    padding-bottom: 20px;
    

}

  .ul-footer-cul1 {
   display: flex;
   flex-direction: column;
    list-style: none;
    font-size: 20px;
    text-align: start;
    margin-top: 40px;

  }

  .footer-cul2{
    padding-left: 80px;
    padding-bottom: 20px;
}

  .ul-footer-cul2 {
    display: flex;
   flex-direction: column;
    list-style: none;
    font-size: 20px;
    text-align: start;
    margin-top: 40px;
  }

  .footer-cul3{
    padding-left: 80px;
    padding-bottom: 20px;
}

  .ul-footer-cul3 {
    display: flex;
   flex-direction: column;
    list-style: none;
    font-size: 20px;
    text-align: start;
    margin-top: 40px;
  }

  .footer-icon{
    font-size: 40px;
    display: flex;
    gap: 20px;
  }

  .footer-copyright{
    position: absolute;
    bottom: 0px;
    right: 45%;
    
  }










